#generated manpages 
*.1
*.1.gz

#generated documentation
doc/*

#generated test results
test/results/*

#LateX
*.toc 
*.aux
*.lof
*.lot
*.bbl
*.blg
*.ind
*.loa
*.idx
*.out
*.spl
*.rel


# Random OS stuff
.DS_Store
Thumbs.db
*.bak
*.log
*~

